# Supabase URL
# NEXT_PUBLIC_SUPABASE_URL=ur-supabase-url
# NEXT_PUBLIC_SUPABASE_ANON_KEY=ur-supabase-key

# Connect to Supabase via connection pooling (Transaction pooler)
# DATABASE_URL="ur-URL"

# Direct connection to the database. Used for migrations
# DIRECT_URL="ur-URL"

# NEXT-CLOUDINARY
# NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="<Your Cloud Name>"
# NEXT_PUBLIC_CLOUDINARY_API_KEY="<Your API Key>"
# CLOUDINARY_API_SECRET="<Your API Secret>"

# Integrasi ENV ke NextAuth (auth config)
# NEXTAUTH_SECRET=my-secret-key
# NEXTAUTH_URL=http://localhost:3000